# Ignore certificates
WebSocketServer/cert/

# Ignore node_modules
WebSocketServer/node_modules/

# Ignore Arduino build files
*.elf
*.hex
*.bin
 
firebase-service-account.json
cert/
*.key
*.crt
*.pem
node_modules/
.env
